*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* Header */
header{
  background-color: black;
  height: 10vh;
}
header .containerHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: auto;
}
header a{
  height: 70%;
}
header img{
  height: 100%;
}
header ul li{
  display: inline-block;
  padding: 0px 10px;
}
header ul li a{
  color: lightgrey;
  text-decoration: none;
}
header input{
  padding: 5px;
  width: 200px;
}
header button{
  height: 29px;
  padding: 2px 3px;
}
.active{
  color: white;
}

/* Main */
main{
  background-color: #383838;
  min-height: 90vh;
}
main h1{
  text-align: center;
  padding-top: 30px;
}
main .containerMain{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 0px 100px 0px;
}

main .containerMain .movieCard{
  width: 200px;
  height: 300px;
  border: 1px solid white;
  margin: 10px 5px;
  position: relative;
}
main .containerMain .movieCard img.poster{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .7s ease;
}
main .containerMain .movieCard img.fake{
  object-fit: contain;
}
main .description{
  color: white;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  overflow: auto;
  transition: .7s ease;
  padding: 10px;
}
main .description div.len-flag{
  display: flex;
  align-items: center;
}
main .description div.len-flag img.bandiera{
  margin-left: 15px;
}
main .description h3 i{
  color: yellow;
}
.movieCard:hover img.poster{
  opacity: 0;
}
.movieCard:hover .description{
  opacity: 1;
}
main .containerMain .movieCard{
  cursor: pointer;
}
main .containerMain .movieCard .description h3{
  font-weight: bold;
  padding: 3px 0px;
}
main .containerMain .movieCard .description span{
  font-weight: lighter;
  font-size: 18px;
  color: grey;
}
main #add{
  color: white;
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Media Query */
@media only screen and (min-width: 360px) and (orientation: portrait) {
  header{
    height: 18vh;
  }
  header .containerHeader{
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  header #logo{
    order: 1;
    width: 60%;
    height: 60%;
  }
  header #logo img{
    height: 100%;
    width: 100%;
  }
  header #menu{
    order: 3;
    width: 100%;
  }
  header ul li a{
    font-size: 40px;
  }
  header #ricerca{
    order: 2;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  header input{
    font-size: 35px;
    width: 100%;
    margin-top: 5px;
  }
  header button{
    font-size: 25px;
    padding: 5px;
    height: 45px;
    margin-top: 5px;
  }
  main{
    min-height: 85vh;
  }
  main h1{
    font-size: 50px;
  }
}
