<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Title -->
    <title>Vue Boolfix</title>
  </head>
  <body>

    <div id="app" class="cont">

      <header>
        <div class="containerHeader">

          <img src="boolflix.png" alt="">

          <div class="">

            <input type="text" name="" value="" placeholder="Inserisci titolo" v-model="queryInput" @keyup.13="search">
            <button type="button" name="button" @click="search">Cerca</button>

          </div>

        </div>
      </header>

      <main>

        <div class="containerMain">

          <div class="movieCard" v-for="oggetto in film[0]">
            <img :src="link + oggetto.poster_path" :alt="oggetto.original_title">

            <div class="description">

              <h3>Titolo: <span>{{oggetto.title}}</span></h3>
              <h3>Titolo Originale: <span>{{oggetto.original_title}}</span></h3>
              <h3>Voto: <span>{{oggetto.vote_average}}</span></h3>
              <h3>Overview: <span>{{oggetto.overview}}</span></h3>

            </div>

          </div>

        </div>

      </main>

    </div>

    <!-- Vue (Development Version) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Js -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
