<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" href="favicon.ico"/>
    <!-- Css -->
    <link rel="stylesheet" href="css/styleMainPage.css">
    <!-- Title -->
    <title>Vue Boolfix</title>
  </head>
  <body>

    <div id="app" class="cont">

      <header>
        <div class="containerHeader">

          <a href="index.html"><img src="boolflix.png" alt=""></a>

          <div>

            <ul>
              <li v-for="(item, index) in menu"><a href="#" @click="change(index)" v-bind:class="{'active': item.isActive == 'true'}">{{item.name}}</a></li>
            </ul>

          </div>

          <div>

            <input type="text" name="" value="" placeholder="Inserisci titolo" v-model="queryInput" @keyup.13="search">

            <button type="button" name="button" @click="search">Cerca</button>

          </div>

        </div>
      </header>

      <main>

        <h1>{{titoloPrincipale}}</h1>

        <div class="containerMain">

          <div v-for="(oggetto, index) in film[0]">
            <div v-if="oggetto.known_for"></div>

            <div v-else class="movieCard" >
              <img class="poster fake" v-if="oggetto.poster_path == null" src="nonDisponibile.png">
              <img class="poster" v-else :src="link + oggetto.poster_path" :alt="oggetto.original_title">



              <div class="description">

                <div>

                  <h3><u>Title</u>: <span>{{oggetto.title}} {{oggetto.name}}</span></h3>
                  <h3><u>Original Title</u>: <span>{{oggetto.original_title}} {{oggetto.original_name}}</span></h3>
                  <div class="len-flag">
                    <h3><u>Language</u>: {{oggetto.original_language}}</h3>
                    <img v-if="oggetto.original_language == 'en'" class="bandiera" :src="flagLink + 'US' + flagLink2" alt="">
                    <img v-else class="bandiera" :src="flagLink + oggetto.original_language + flagLink2" alt="">
                  </div>

                  <h3><u>Vote</u>: <span v-for="n in oggetto.vote_average"><i class="fas fa-star"></i></span><span v-for="n in (5 - oggetto.vote_average)"><i class="far fa-star"></i></span></h3>
                  <h3><u>Type</u>: <span>{{oggetto.media_type}}</span></h3>
                  <h3><u>Overview</u>: <span>{{oggetto.overview}}</span></h3>

                </div>

                <div id="add">
                  <i v-if="menu[indexActive].name != 'La mia Lista'" @click="toLista(oggetto)" class="fas fa-plus-circle fa-lg"></i>
                  <i v-else @click="remove(oggetto, index)" class="fas fa-minus-circle"></i>
                </div>

              </div>



            </div>


          </div>

        </div>

      </main>

    </div>

    <!-- Vue (Development Version) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Js -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
